.eler
{
    transition: 3s;
}
.kep
{
    width: 140px;
    height: 120px;
}
.jobb
{
    float: right;
}
.kep1
{
 height: 120px;
 width: 700px;
}
.von
{
    width: 70px;
    height: 70px;
    position: relative;
    transition: 1s;
}